#preloader {
  width: 100%;
  height: 700px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader_img{
  margin-top: 50px;
  width: 80%;
  animation: small-big-small 2s ease-in-out;
  position: fixed;
}

@keyframes small-big-small {
0% {
  transform: scale(0.7, 0.7);
}
100% {
  transform: scale(1, 1);
}
}

html {
box-sizing: border-box;
height: 100%;
padding: 0;
margin: 0;
}

*,
*::after,
*::before {
box-sizing: inherit;
}

body {
display: flex;
font-family: "Roboto", sans-serif;
/* font-size: 16px; */
height: 100%;
padding: 0;
margin: 0;

}

/* 1240-1600 */

.content{
width: 100%;
height: 4600px;
margin: 0;
padding-top: 0px;
box-sizing: border-box;
display: block;
}



#nav{
position: fixed;
top: 0;
left: 0;
z-index: 55;
width: 100%;
height: 75px;
background-color: rgb(255, 255, 255);
margin-top: 0;
padding-top: 0px;
padding-left: 5px;
padding-right: 5px;
display: flex;
flex-direction: row;
align-items: center;
box-shadow: 0px 0.5px 15px 0px #000 ;
}

.wrap{
width: 66%;
height: 75px;
position: absolute;
top: 0;
margin-left: 17%;
}

.logo_img{
margin-top: 5px;
left: 0;
width: 130px;
height: 65px;
}

/* .hamburger {

width: 80px;
margin-top: 25px;
margin-bottom: 25px;
margin-left: 1190px;
z-index: 100;
padding: 0px;
cursor: pointer;
} */

.closeIcon {
display: none;
}

.burger1 {
position: absolute;
margin-top: -60px;
margin-left: 92%;
}

.burger {
position: absolute;
cursor: pointer;
display: block;
position: relative;
border: none;
z-index: 100;
background: transparent;
width: 60px;
height: 45px;

}
.burger::before,
.burger::after {
content: '';
left: 0;
position: absolute;
display: block;
width: 100%;
height: 6px;
background: #000;
}
.burger::before {
top: 0;
box-shadow: 0 20px 0 #000;
transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
bottom: 0;
transition: bottom .3s .15s, transform .3s;
}
.burger.active::before {
top: 20px;
transform: rotate(45deg);
box-shadow: 0 6px 0 rgba(0,0,0,0);
transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger.active::after {
bottom: 20px;
transform: rotate(-45deg);
transition: bottom .3s, transform .3s .15s;
}

.menu {
width: 100%;
position: fixed;
transform: translateY(-100%);
transition: transform 0.2s;
top: -25px;
left: 0;
right: 0;
bottom: 0;
list-style: none;
padding-top: 0;
color: black;
padding-top: 25px;
background-color: #ffffff;
height: 180px;
box-shadow: 0px 0.5px 15px 0px #000 ;
}

.menuItem1{
margin-left: 4%;
font: Inter;
font-weight: 600;
font-size: 20px;
letter-spacing: 0px;
display: inline-block;
vertical-align: middle;
color: black;
word-wrap: break-word;
text-align: center;
margin-top: 0px;
}

.menuItem2{
margin-left: 4%;
font: Inter;
font-weight: 600;
font-size: 20px;
letter-spacing: 0px;
display: inline-block;
vertical-align: middle;
color: black;
word-wrap: break-word;
text-align: center;
margin-top: 0px;
}

.menuItem3{
margin-left: 4%;
font: Inter;
font-weight: 600;
font-size: 20px;
letter-spacing: 0px;
display: inline-block;
vertical-align: middle;
color: black;
word-wrap: break-word;
text-align: center;
margin-top: 0px;
}

.menuItem4{
margin-left: 4%;
font: Inter;
font-weight: 600;
font-size: 20px;
letter-spacing: 0px;
display: inline-block;
vertical-align: middle;
color: black;
word-wrap: break-word;
text-align: center;
margin-top: 0px;
}

.menuItem5{
margin-left: 4%;
font: Inter;
font-weight: 600;
font-size: 20px;
letter-spacing: 0px;
display: inline-block;
vertical-align: middle;
color: black;
word-wrap: break-word;
margin-top: 0px;
text-align: center;
}



a{
color: black;
}

a:link {
outline: none;
text-decoration: none;
}

a:visited {
outline: none;
text-decoration: none;
}

a:focus {
outline: none;
text-decoration: none;
}

a:hover {
outline: none;
text-decoration: none;
}

a:active {
border-bottom: 1px solid;
}




.menu_links{
  margin-left: 25%;
  width: 50%;
  flex-wrap: wrap;
  padding-top: 5px;
  height: 60px;
}

.menu_nav {
  width: 66%;
  margin-left: 17%;
  position: relative;
}

/* .menuItem{
display: inline-block;
} */

.showMenu {
transform: translateY(0);
}

#ru_eng{
  display: block;
  height: 50px;
  margin-left: 83%;
  margin-top: -55px;
  position: absolute;
}

.ENG{
  font: Inter;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0px;
  margin: 0;
}
  
  
  .tittle{
    width: 100%;
    height: 75px;
    background-color: rgb(38, 20, 94);
    margin-top: 75px;
    position: absolute; 
  }
  
  .tittle1{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    text-align: center;
    color: white;
    font: Inter;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0px;
  }
  
  .container{
    /* 1305 */
    width: 68%; 
    margin-top: 150px;
    margin-left: 16%;
    height: 3400px;
    display: inline-block;
    position: relative;
  }
  

  .offer{
    margin-top: 100px;
    width: 80%;;
    margin-left: 10%;
    position: absolute;
    border: 2px solid rgb(38, 20, 94);
    border-radius: 30px ;
    padding: 7px;
  }

  .p_offer{
    /* width: 1200px;
    margin-top: 28px;
    margin-left: 35px; */
    font: Inter;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0px;
    color: rgb(38, 20, 94);
    text-align: center;

  }
  .text1{
    margin-top: 330px;
    margin-left: 8%;
    margin-right: 8%;
    font: Inter;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0px;
    text-align: center;
  }

  .contract{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    border: 2px solid #000;
  }

.imges{
    width: 100%;
    position: relative;
    margin-top: 150px;
    display: flexbox;
}

.img1{
    width: 30%;
    border-radius: 0px 50px 50px 0px;
}

.img2{
    width: 30%;
    margin-left: 4.5%;
    border-radius: 50px;
}

.img3{
    width: 30%;
    margin-left: 4%;
    border-radius: 50px 0px 0px 50px;

}

.block1{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
}

li{
    font: Inter;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0px;
    margin-top: 15px;
}

.advantages{
  width: 100%;
  display: block;
  margin-top: 130px;
}

.advantages_tittle{
    margin-left: 25px;
    font: Inter;
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 0px;

    }

.hr3{
    width: 100%;
    height: 3.5px;
    margin-top: 10px;
}

.btn1{
    width: 30%;
    background-color: rgb(38, 20, 94);
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    margin-top: 100px;
    margin-left: 35%;
    border-radius: 18px;
    box-shadow: 5px 5px 10px 0px rgba(30, 30, 30, 0.5);
    padding: 15px;
    text-align: center;
}












footer{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
  }
  
  .ur_adress{
    width: 30%;
    left: 20%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }
  
  .email_adress{
    width: 30%;
    left: 65%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }




  @media (max-width:2100px){

    .content{
        height: 4150px;
    }


    #nav{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 55;
        width: 100%;
        height: 75px;
        margin-top: 0;
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      
    
      .wrap{
        width: 66%;
        height: 75px;
        position: absolute;
        top: 0;
        margin-left: 17%;
      }
    
    
      .logo_img{
        margin-top: 5px;
        left: 0;
        width: 130px;
        height: 65px;
      }
      
      .closeIcon {
        display: none;
      }
    
    
      .burger1 {
        position: absolute;
        margin-top: -60px;
        margin-left: 92%;
      }
    
      .burger {
        position: absolute;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        z-index: 100;
        background: transparent;
        width: 60px;
        height: 45px;
        
      }
    
    
      .burger::before,
      .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 6px;
        background: #000;
      }
      .burger::before {
        top: 0;
        box-shadow: 0 20px 0 #000;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
      }
      .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
      }
      .burger.active::before {
        top: 20px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
      }
      .burger.active::after {
        bottom: 20px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
      }
    
      
      .menu {
        width: 100%;
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: -25px;
        left: 0;
        right: 0;
        bottom: 0;
        list-style: none;
        padding-top: 0;
        color: black;
        padding-top: 25px;
        background-color: #ffffff;
        height: 180px;
      }
    
      .menuItem1{
        width: 60px;
        margin-left: 0;
        font: Inter;
        font-weight: 600;
        font-size: 23px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        text-align: center;
        margin-top: 10px;
      }
    
      .menuItem2{
        width: 200px;
        margin-left: 4%;
        font: Inter;
        font-weight: 600;
        font-size: 23px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        text-align: center;
        margin-top: 10px;
      }
    
      .menuItem3{
        width: 200px;
        margin-left: 4%;
        font: Inter;
        font-weight: 600;
        font-size: 23px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        text-align: center;
        margin-top: 10px;
      }
    
      .menuItem4{
        width: 320px;
        margin-left: 4%;
        font: Inter;
        font-weight: 600;
        font-size: 23px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        text-align: center;
        margin-top: 10px;
      }
    
      .menuItem5{
        width: 110px;
        margin-left: 4%;
        font: Inter;
        font-weight: 600;
        font-size: 23px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        margin-top: 10px;
        text-align: center;
      }
    
    
      a{
        color: black;
      }
    
      a:link {
        outline: none;
        text-decoration: none;
      }
      
      a:visited {
        outline: none;
        text-decoration: none;
      }
      
      a:focus {
        outline: none;
        text-decoration: none;
      }
      
      a:hover {
        outline: none;
        text-decoration: none;
      }
      
      a:active {
        border-bottom: 1px solid;
      }
    
    
      .menu_links{
        margin-left: 20%;
        width: 60%;
        flex-wrap: wrap;
        padding-top: 5px;
        height: 60px;
      }
    
      .menu_nav {
        width: 66%;
        margin-left: 17%;
        position: relative;
      }
    
      .showMenu {
        transform: translateY(0);
      }
    
    
      #ru_eng{
        display: block;
        height: 50px;
        margin-left: 83%;
        margin-top: -50px;
        position: absolute;
      }
      
      .ENG{
        font: Inter;
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0px;
        margin: 0;
      }


      .block1{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 100px;
    }


    li{
        font: Inter;
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 0px;
        margin-top: 20px;
    }


    .btn1{
        width: 30%;
        background-color: rgb(38, 20, 94);
        color: #ffffff;
        font: Inter;
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0px;
        margin-top: 100px;
        margin-left: 35%;
        border-radius: 18px;
        box-shadow: 5px 5px 10px 0px rgba(30, 30, 30, 0.5);
        padding: 25px;
        text-align: center;
    }
  

    
    
      .tittle{
        width: 100%;
        height: 75px;
        background-color: rgb(38, 20, 94);
        margin-top: 75px;
        position: absolute; 
      }
      
      .tittle1{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        text-align: center;
        color: white;
        font: Inter;
        font-weight: 800;
        font-size: 30px;
        letter-spacing: 0px;
      }
      
      .container{
        /* 1305 */
        width: 68%; 
        margin-top: 150px;
        margin-left: 16%;
        height: 3850px;
        display: inline-block;
        position: relative;
      }
  
  
      footer{
        width: 100%;
        height: 100px;
        margin-top: 70px;
        background-color: rgb(38, 20, 94);
        display: inline-block;
        position: relative;
        bottom: 0;
      }
      
      .ur_adress{
        width: 30%;
        left: 20%;
        top: 30px;
        color: #ffffff;
        font: Inter;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0px;
        position: absolute;
      }
      
      .email_adress{
        width: 30%;
        left: 65%;
        top: 30px;
        color: #ffffff;
        font: Inter;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0px;
        position: absolute;
      }
  }


  @media (max-width:1800px){

    .container{
        margin-top: 150px;
      }


    .menuItem1{
      width: 60px;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 23px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 10px;
    }
    
    .menuItem2{
      width: 180px;
      margin-left: 2%;
      font: Inter;
      font-weight: 600;
      font-size: 23px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 10px;
    }
    
    .menuItem3{
      width: 170px;
      margin-left: 2%;
      font: Inter;
      font-weight: 600;
      font-size: 23px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 10px;
    }
    
    .menuItem4{
      width: 290px;
      margin-left: 2%;
      font: Inter;
      font-weight: 600;
      font-size: 23px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 10px;
    }
    
    .menuItem5{
      width: 110px;
      margin-left: 2%;
      font: Inter;
      font-weight: 600;
      font-size: 23px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      margin-top: 10px;
      text-align: center;
    }
  
  }


  @media (max-width:1500px){
    .content{
      width: 100%;
      height: 4300px;
      margin: 0;
      padding-top: 0px;
      box-sizing: border-box;
      display: block;
    }
    

    .wrap{
      width: 66%;
      height: 75px;
      position: absolute;
      top: 0;
      margin-left: 17%;
    }


    .burger1 {
      position: absolute;
      margin-top: -60px;
      margin-left: 92%;
    }

    .burger {
      position: absolute;
      cursor: pointer;
      display: block;
      position: relative;
      border: none;
      z-index: 100;
      background: transparent;
      width: 60px;
      height: 45px;
      
    }

    
    .menu {
      width: 100%;
      position: fixed;
      transform: translateY(-100%);
      transition: transform 0.2s;
      top: -25px;
      left: 0;
      right: 0;
      bottom: 0;
      list-style: none;
      padding-top: 0;
      color: black;
      padding-top: 25px;
      background-color: #ffffff;
      height: 180px;
    }

    .menuItem1{
      width: 60px;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }

    .menuItem2{
      width: 100px;
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }

    .menuItem3{
      width: 100px;
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }

    .menuItem4{
      width: 150px;
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }

    .menuItem5{
      width: 110px;
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      margin-top: 0px;
      text-align: center;
    }

    .menu_links{
      margin-left: 25%;
      width: 50%;
      flex-wrap: wrap;
      padding-top: 5px;
      height: 60px;
    }

    .menu_nav {
      width: 66%;
      margin-left: 17%;
      position: relative;
    }

    .showMenu {
      transform: translateY(0);
    }

    #ru_eng{
      display: block;
      height: 50px;
      margin-left: 83%;
      margin-top: -50px;
      position: absolute;
    }
    
    .ENG{
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      margin: 0;
    }

    .tittle{
      width: 100%;
      height: 80px;
      background-color: rgb(38, 20, 94);
      margin-top: 75px;
      position: absolute;
    }

    .tittle1{
      margin-top: 10px;
      text-align: center;
      color: white;
      font: Inter;
      font-weight: 800;
      font-size: 32px;
      letter-spacing: 0px;
      margin-left: 5%;
      margin-right: 5%;
    }

    .container{
      /* 1305 */
      width: 68%; 
      margin-top: 155px;
      margin-left: 16%;
      height: 4000px;
      display: inline-block;
      position: relative;
    }

    .contract{
        width: 60%;
        margin-left: 20%;
        margin-top: 80px;
        border: 2px solid #000;
      }

  footer{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
  }

  .ur_adress{
    width: 30%;
    left: 20%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }

  .email_adress{
    width: 30%;
    left: 65%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }
}


@media (max-width:1250px){
    .content{
      width: 100%;
      height: 4250px;
      margin: 0;
      padding-top: 0px;
      box-sizing: border-box;
      display: block;
    }
    
  
    .wrap{
      width: 72%;
      height: 75px;
      position: absolute;
      top: 0;
      margin-left: 14%;
    }
  
  
    .burger1 {
      position: absolute;
      margin-top: -60px;
      margin-left: 92%;
    }
  
    .burger {
      position: absolute;
      cursor: pointer;
      display: block;
      position: relative;
      border: none;
      z-index: 100;
      background: transparent;
      width: 60px;
      height: 45px;
      
    }
    
    
    .menu {
      width: 100%;
      position: fixed;
      transform: translateY(-100%);
      transition: transform 0.2s;
      top: -25px;
      left: 0;
      right: 0;
      bottom: 0;
      list-style: none;
      padding-top: 0;
      color: black;
      padding-top: 25px;
      background-color: #ffffff;
      height: 180px;
    }
  
    .menuItem1{
      width: 60px;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem2{
      width: 100px;
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem3{
      width: 100px;
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem4{
      width: 150px;
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem5{
      width: 110px;
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      margin-top: 0px;
      text-align: center;
    }
  
  
    
  
  
    .menu_links{
      margin-left: 20%;
      width: 60%;
      flex-wrap: wrap;
      padding-top: 5px;
      height: 60px;
    }
  
    .menu_nav {
      width: 72%;
      margin-left: 14%;
      position: relative;
    }
  
    .showMenu {
      transform: translateY(0);
    }
  
  
    #ru_eng{
      display: block;
      height: 50px;
      margin-left: 83%;
      margin-top: -50px;
      position: absolute;
    }
    
    .ENG{
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      margin: 0;
    }
  
  
    .tittle{
        width: 100%;
        height: 80px;
        background-color: rgb(38, 20, 94);
        margin-top: 75px;
        position: absolute;
      }
  
      .tittle1{
        margin-top: 10px;
        text-align: center;
        color: white;
        font: Inter;
        font-weight: 800;
        font-size: 30px;
        letter-spacing: 0px;
        margin-left: 5%;
        margin-right: 5%;
      }
  
    .container{
      /* 1305 */
      width: 72%; 
      margin-top: 155px;
      margin-left: 14%;
      height: 3950px;
      display: inline-block;
      position: relative;
    }


    .offer{
        margin-top: 100px;
        width: 80%;;
        margin-left: 10%;
        position: absolute;
        border: 2px solid rgb(38, 20, 94);
        border-radius: 30px ;
        padding: 7px;
      }
    
      .p_offer{
        /* width: 1200px;
        margin-top: 28px;
        margin-left: 35px; */
        font: Inter;
        font-weight: 700;
        font-size: 23px;
        letter-spacing: 0px;
        color: rgb(38, 20, 94);
        text-align: center;
    
      }
      .text1{
        margin-top: 330px;
        margin-left: 8%;
        margin-right: 8%;
        font: Inter;
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 0px;
        text-align: center;
      }

      .img1{
        width: 32%;
        border-radius: 0px 50px 50px 0px;
    }
    
    .img2{
        width: 32%;
        margin-left: 1%;
        border-radius: 50px;
    }
    
    .img3{
        width: 32%;
        margin-left: 1%;
        border-radius: 50px 0px 0px 50px;
    
    }
    
  
  footer{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
  }
  
  .ur_adress{
    width: 40%;
    left: 20%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }
  
  .email_adress{
    width: 30%;
    left: 65%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }
  }


  @media (max-width:1094px){
    .content{
      width: 100%;
      height: 5300px;
      margin: 0;
      padding-top: 0px;
      box-sizing: border-box;
      display: block;
    }
  
  
    .wrap{
      width: 80%;
      height: 75px;
      position: absolute;
      top: 0;
      margin-left: 10%;
    }
  
  
    .burger1 {
      position: absolute;
      margin-top: -60px;
      margin-left: 92%;
    }
  
    .burger {
      position: absolute;
      cursor: pointer;
      display: block;
      position: relative;
      border: none;
      z-index: 100;
      background: transparent;
      width: 60px;
      height: 45px;
      
    }
  
    
    .menu {
      width: 100%;
      position: fixed;
      transform: translateY(-100%);
      transition: transform 0.2s;
      top: -25px;
      left: 0;
      right: 0;
      bottom: 0;
      list-style: none;
      padding-top: 0;
      color: black;
      padding-top: 25px;
      background-color: #ffffff;
      height: 180px;
    }
  
    .menuItem1{
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem2{
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem3{
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem4{
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem5{
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      margin-top: 0px;
      text-align: center;
    }
  
    
  
  
    .menu_links{
      margin-left: 17%;
      width: 66%;
      flex-wrap: wrap;
      padding-top: 5px;
      height: 60px;
    }
  
    .menu_nav {
      width: 80%;
      margin-left: 10%;
      position: relative;
    }
  
    .showMenu {
      transform: translateY(0);
    }
  
    #ru_eng{
      display: block;
      height: 50px;
      margin-left: 80%;
      margin-top: -50px;
      position: absolute;
    }
    
    .ENG{
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      margin: 0;
    }
  
  
    .tittle{
        width: 100%;
        height: 100px;
        background-color: rgb(38, 20, 94);
        margin-top: 75px;
        position: absolute;
      }
  
      .tittle1{
        margin-top: 10px;
        text-align: center;
        color: white;
        font: Inter;
        font-weight: 800;
        font-size: 30px;
        letter-spacing: 0px;
        margin-left: 5%;
        margin-right: 5%;
      }
  
    .container{
      /* 1305 */
      width: 80%; 
      margin-top: 175px;
      margin-left: 10%;
      height: 4950px;
      display: inline-block;
      position: relative;
    }


    .offer{
        margin-top: 100px;
        width: 80%;;
        margin-left: 10%;
        position: absolute;
        border: 2px solid rgb(38, 20, 94);
        border-radius: 30px ;
        padding: 7px;
      }
    
      .p_offer{
        /* width: 1200px;
        margin-top: 28px;
        margin-left: 35px; */
        font: Inter;
        font-weight: 700;
        font-size: 23px;
        letter-spacing: 0px;
        color: rgb(38, 20, 94);
        text-align: center;
    
      }
      .text1{
        margin-top: 330px;
        margin-left: 8%;
        margin-right: 8%;
        font: Inter;
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 0px;
        text-align: center;
      }
    
      .contract{
        width: 70%;
        margin-left: 15%;
        margin-top: 70px;
        border: 2px solid #000;
      }
    
    .imges{
        width: 100%;
        position: relative;
        margin-top: 120px;
        display: flexbox;
    }
    
    .img1{
        width: 60%;
        margin-left: 20%;
        border-radius: 30px;
    }
    
    .img2{
        width: 60%;
        margin-left: 20%;
        margin-top: 35px;
        border-radius: 30px;
    }
    
    .img3{
        width: 60%;
        margin-left: 20%;
        border-radius: 30px;
        margin-top: 35px;
    
    }
    
    .block1{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 70px;
    }
    

    
    .btn1{
        width: 30%;
        background-color: rgb(38, 20, 94);
        color: #ffffff;
        font: Inter;
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0px;
        margin-top: 70px;
        margin-left: 35%;
        border-radius: 18px;
        box-shadow: 5px 5px 10px 0px rgba(30, 30, 30, 0.5);
        padding: 15px;
        text-align: center;
    }
  
  
    
  
  footer{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
  }
  
  .ur_adress{
    width: 40%;
    left: 15%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }
  
  .email_adress{
    width: 20%;
    left: 70%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }
  }


  @media (max-width:950px){
    .content{
      width: 100%;
      height: 5300px;
      margin: 0;
      padding-top: 0px;
      box-sizing: border-box;
      display: block;
    }
  
    .wrap{
      width: 86%;
      height: 75px;
      position: absolute;
      top: 0;
      margin-left: 7%;
    }
  
  
  
    .burger1 {
      position: absolute;
      margin-top: -60px;
      margin-left: 92%;
    }
  
    .burger {
      position: absolute;
      cursor: pointer;
      display: block;
      position: relative;
      border: none;
      z-index: 100;
      background: transparent;
      width: 60px;
      height: 45px;
      
    }
  
    
    .menu {
      width: 100%;
      position: fixed;
      transform: translateY(-100%);
      transition: transform 0.2s;
      top: -25px;
      left: 0;
      right: 0;
      bottom: 0;
      list-style: none;
      padding-top: 0;
      color: black;
      padding-top: 25px;
      background-color: #ffffff;
      height: 180px;
    }
  
    .menuItem1{
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem2{
      margin-left: 2%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem3{
      margin-left: 2%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem4{
      margin-left: 2%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem5{
      margin-left: 2%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      margin-top: 0px;
      text-align: center;
    }
  
    
  
  
    .menu_links{
      margin-left: 11%;
      width: 78%;
      flex-wrap: wrap;
      padding-top: 5px;
      height: 60px;
    }
  
    .menu_nav {
      width: 86%;
      margin-left: 7%;
      position: relative;
    }
  
    .showMenu {
      transform: translateY(0);
    }
  
  
    #ru_eng{
      display: block;
      height: 50px;
      margin-left: 77%;
      margin-top: -50px;
      position: absolute;
    }
    
    .ENG{
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      margin: 0;
    }
  
  
    .tittle{
        width: 100%;
        height: 115px;
        background-color: rgb(38, 20, 94);
        margin-top: 75px;
        position: absolute;
      }
  
      .tittle1{
        margin-top: 10px;
        text-align: center;
        color: white;
        font: Inter;
        font-weight: 800;
        font-size: 30px;
        letter-spacing: 0px;
        margin-left: 5%;
        margin-right: 5%;
      }
  
    .container{
      /* 1305 */
      width: 80%; 
      margin-top: 190px;
      margin-left: 10%;
      height: 5000px;
      display: inline-block;
      position: relative;
    }

    .offer{
        margin-top: 60px;
        width: 90%;;
        margin-left: 5%;
        position: absolute;
        border: 2px solid rgb(38, 20, 94);
        border-radius: 30px ;
        padding: 7px;
      }


      .text1{
        margin-top: 300px;
        margin-left: 8%;
        margin-right: 8%;
        font: Inter;
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 0px;
        text-align: center;
      }

      .contract{
        width: 80%;
        margin-left: 10%;
        margin-top: 100px;
        border: 2px solid #000;
      }
    

    
    .block1{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 60px;
    }

    .imges{
        width: 100%;
        position: relative;
        margin-top: 100px;
        display: flexbox;
    }
    
    .img1{
        width: 70%;
        margin-left: 15%;
        border-radius: 30px;
    }
    
    .img2{
        width: 70%;
        margin-left: 15%;
        margin-top: 35px;
        border-radius: 30px;
    }
    
    .img3{
        width: 70%;
        margin-left: 15%;
        border-radius: 30px;
        margin-top: 35px;
    
    }

    .btn1{
        width: 50%;
        background-color: rgb(38, 20, 94);
        color: #ffffff;
        font: Inter;
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0px;
        margin-top: 50px;
        margin-left: 25%;
        border-radius: 18px;
        box-shadow: 5px 5px 10px 0px rgba(30, 30, 30, 0.5);
        padding: 15px;
        text-align: center;
    }
    
  
  
  
    
  
  footer{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
  }
  
  .ur_adress{
    width: 50%;
    left: 10%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }
  
  .email_adress{
    width: 25%;
    left: 70%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }
  }


  @media (max-width:750px){
    .content{
      width: 100%;
      height: 5500px;
      margin: 0;
      padding-top: 0px;
      box-sizing: border-box;
      display: block;
    }
   
  
    .wrap{
      width: 92%;
      height: 75px;
      position: absolute;
      top: 0;
      margin-left: 4%;
    }
  
  
    .burger1 {
      position: absolute;
      margin-top: -60px;
      margin-left: 89%;
    }
  
    .burger {
      position: absolute;
      cursor: pointer;
      display: block;
      position: relative;
      border: none;
      z-index: 100;
      background: transparent;
      width: 60px;
      height: 45px;
      
    }
  
    
    .menu {
      width: 100%;
      position: fixed;
      transform: translateY(-100%);
      transition: transform 0.2s;
      top: -25px;
      left: 0;
      right: 0;
      bottom: 0;
      list-style: none;
      padding-top: 0;
      color: black;
      padding-top: 25px;
      background-color: #ffffff;
      height: 380px;
    }
  
    .menuItem1{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem2{
      width: 100%;
      margin-top: 20px;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem3{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem4{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem5{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
    }
  
  
    .menu_links{
      margin-left: 14%;
      width: 72%;
      flex-wrap: wrap;
      padding-top: 5px;
      height: 250px;
    }
  
    .menu_nav {
      width: 92%;
      margin-left: 4%;
      position: relative;
    }
  
    .showMenu {
      transform: translateY(0);
    }
  
  
    #ru_eng{
      display: block;
      height: 50px;
      margin-left: 70%;
      margin-top: -50px;
      position: absolute;
    }
    
    .ENG{
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      margin: 0;
    }
  
  
    .tittle{
      width: 100%;
      height: 110px;
      background-color: rgb(38, 20, 94);
      margin-top: 75px;
      position: absolute;
    }
  
    .tittle1{
      margin-top: 10px;
      text-align: center;
      color: white;
      font: Inter;
      font-weight: 800;
      font-size: 30px;
      letter-spacing: 0px;
    }
  
    .container{
      /* 1305 */
      width: 92%; 
      margin-top: 185px;
      margin-left: 4%;
      height: 5200px;
      display: inline-block;
      position: relative;
    }


    .offer{
        margin-top: 70px;
        width: 80%;;
        margin-left: 10%;
        position: absolute;
        border: 2px solid rgb(38, 20, 94);
        border-radius: 30px ;
        padding: 7px;
      }
    
      .p_offer{
        /* width: 1200px;
        margin-top: 28px;
        margin-left: 35px; */
        font: Inter;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0px;
        color: rgb(38, 20, 94);
        text-align: center;
    
      }
      .text1{
        margin-top: 330px;
        margin-left: 3%;
        margin-right: 3%;
        font: Inter;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0px;
        text-align: center;
      }
    
      .contract{
        width: 80%;
        margin-left: 10%;
        margin-top: 70px;
        border: 2px solid #000;
      }

      .block1{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 60px;
    }

    .imges{
        width: 100%;
        position: relative;
        margin-top: 80px;
        display: flexbox;
    }
    
    .img1{
        width: 80%;
        margin-left: 10%;
        border-radius: 30px;
    }
    
    .img2{
        width: 80%;
        margin-left: 10%;
        margin-top: 35px;
        border-radius: 30px;
    }
    
    .img3{
        width: 80%;
        margin-left: 10%;
        border-radius: 30px;
        margin-top: 35px;
    
    }
  
  footer{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
  }
  
  .ur_adress{
    width: 50%;
    left: 7%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0px;
    position: absolute;
  }
  
  .email_adress{
    width: 30%;
    left: 65%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0px;
    position: absolute;
  }
  }



  @media (max-width:550px){
    .content{
      width: 100%;
      height: 4800px;
      margin: 0;
      padding-top: 0px;
      box-sizing: border-box;
      display: block;
    }
  
  
  
  
    .burger1 {
      position: absolute;
      margin-top: -60px;
      margin-left: 82%;
    }
  
    #ru_eng{
      display: block;
      height: 50px;
      margin-left: 65%;
      margin-top: -50px;
      position: absolute;
    }
    
    .ENG{
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      margin: 0;
    }
  
  
  
    .menuItem1{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem2{
      width: 100%;
      margin-top: 20px;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem3{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem4{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem5{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
    }
  
  
    .menu_links{
      margin-left: 14%;
      width: 72%;
      flex-wrap: wrap;
      padding-top: 5px;
      height: 230px;
    }
  
  
    .showMenu {
      transform: translateY(0);
    }
  
  
  
  
   
  
  
    .tittle{
        width: 100%;
        height: 140px;
        background-color: rgb(38, 20, 94);
        margin-top: 75px;
        position: absolute;
      }
    
      .tittle1{
        margin-top: 10px;
        text-align: center;
        color: white;
        font: Inter;
        font-weight: 800;
        font-size: 28px;
        letter-spacing: 0px;
      }
    
      .container{
        /* 1305 */
        width: 92%; 
        margin-top: 215px;
        margin-left: 4%;
        height: 4500px;
        display: inline-block;
        position: relative;
      }


     

    .offer{
        margin-top: 40px;
        width: 90%;;
        margin-left: 5%;
        position: absolute;
        border: 2px solid rgb(38, 20, 94);
        border-radius: 30px ;
        padding: 7px;
      }
    
      .p_offer{
        /* width: 1200px;
        margin-top: 28px;
        margin-left: 35px; */
        font: Inter;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0px;
        color: rgb(38, 20, 94);
        text-align: center;
    
      }
      .text1{
        margin-top: 270px;
        margin-left: 8%;
        margin-right: 8%;
        font: Inter;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0px;
        text-align: center;
      }
    
      .contract{
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
        border: 2px solid #000;
      }


  
  footer{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
  }
  
  .ur_adress{
    width: 50%;
    left: 7%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0px;
    position: absolute;
  }
  
  .email_adress{
    width: 30%;
    left: 65%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0px;
    position: absolute;
  }
  }


  @media (max-width:470px){

    .ur_adress{
      width: 50%;
      left: 7%;
      top: 30px;
      color: #ffffff;
      font: Inter;
      font-weight: 600;
      font-size: 10px;
      letter-spacing: 0px;
      position: absolute;
    }
    
    .email_adress{
      width: 30%;
      left: 65%;
      top: 30px;
      color: #ffffff;
      font: Inter;
      font-weight: 600;
      font-size: 10px;
      letter-spacing: 0px;
      position: absolute;
    }

    .content{
        width: 100%;
        height: 5100px;
        margin: 0;
        padding-top: 0px;
        box-sizing: border-box;
        display: block;
      }

    .tittle{
        width: 100%;
        height: 185px;
        background-color: rgb(38, 20, 94);
        margin-top: 75px;
        position: absolute; 
      }
      
      .tittle1{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
        text-align: center;
        color: white;
        font: Inter;
        font-weight: 800;
        font-size: 30px;
        letter-spacing: 0px;
      }

      .container{
        /* 1305 */
        width: 92%; 
        margin-top: 260px;
        margin-left: 4%;
        height: 4800px;
        display: inline-block;
        position: relative;
      }
      
    
      .offer{
        margin-top: 70px;
        width: 90%;;
        margin-left: 5%;
        position: absolute;
        border: 2px solid rgb(38, 20, 94);
        border-radius: 30px ;
        padding: 7px;
      }
    
      .p_offer{
        /* width: 1200px;
        margin-top: 28px;
        margin-left: 35px; */
        font: Inter;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0px;
        color: rgb(38, 20, 94);
        text-align: center;
    
      }
      .text1{
        margin-top: 330px;
        margin-left: 3%;
        margin-right: 3%;
        font: Inter;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0px;
        text-align: center;
      }
    
      .contract{
        width: 80%;
        margin-left: 10%;
        margin-top: 70px;
        border: 2px solid #000;
      }
    
    .imges{
        width: 100%;
        position: relative;
        margin-top: 80px;
        display: flexbox;
    }
    
    .img1{
        width: 90%;
        margin-left: 5%;
    }
    
    .img2{
        width: 90%;
        margin-left: 5%;
    }
    
    .img3{
        width: 90%;
        margin-left: 5%;
    
    }
    
    .block1{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 70px;
    }
    
    li{
        font: Inter;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0px;
        margin-top: 15px;
    }

    .advantages{
      margin-top: 100px;
    }
    
    .advantages_tittle{
        font-size: 30px;
    
        }
    
    
    .btn1{
        width: 60%;
        background-color: rgb(38, 20, 94);
        color: #ffffff;
        font: Inter;
        font-weight: 600;
        font-size: 22px;
        letter-spacing: 0px;
        margin-top: 100px;
        margin-left: 20%;
        border-radius: 18px;
        box-shadow: 5px 5px 10px 0px rgba(30, 30, 30, 0.5);
        padding: 15px;
        text-align: center;
    }
  }