#preloader {
  width: 100%;
  height: 700px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader_img{
  width: 80%;
  animation: small-big-small 2s ease-in-out;
}

@keyframes small-big-small {
  0% {
    transform: scale(0.7, 0.7);
  }
  100% {
    transform: scale(1, 1);
  }
}

html {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  /* font-size: 16px; */
  height: 100%;
  padding: 0;
  margin: 0;
}

/* 1240-1600 */

.content{
  width: 100%;
  height: 1800px;
  margin: 0;
  padding-top: 0px;
  box-sizing: border-box;
  display: block;
}



#nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 55;
  width: 100%;
  height: 75px;
  background-color: rgb(255, 255, 255);
  margin-top: 0;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0.5px 15px 0px #000 ;
}

.wrap{
  width: 66%;
  height: 75px;
  position: absolute;
  top: 0;
  margin-left: 17%;
}

.logo_img{
  margin-top: 5px;
  left: 0;
  width: 130px;
  height: 65px;
}


.closeIcon {
  display: none;
}

.burger1 {
  position: absolute;
  margin-top: -60px;
  margin-left: 92%;
}

.burger {
  position: absolute;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  z-index: 100;
  background: transparent;
  width: 60px;
  height: 45px;
  
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 6px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 20px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger.active::before {
  top: 20px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger.active::after {
  bottom: 20px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}

.menu {
  width: 100%;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: -25px;
  left: 0;
  right: 0;
  bottom: 0;
  list-style: none;
  padding-top: 0;
  color: black;
  padding-top: 25px;
  background-color: #ffffff;
  height: 180px;
  box-shadow: 0px 0.5px 15px 0px #000 ;
}

.menuItem1{
  margin-left: 4%;
  font: Inter;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  display: inline-block;
  vertical-align: middle;
  color: black;
  word-wrap: break-word;
  text-align: center;
  margin-top: 0px;
}

.menuItem2{
  margin-left: 4%;
  font: Inter;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  display: inline-block;
  vertical-align: middle;
  color: black;
  word-wrap: break-word;
  text-align: center;
  margin-top: 0px;
}

.menuItem3{
  margin-left: 4%;
  font: Inter;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  display: inline-block;
  vertical-align: middle;
  color: black;
  word-wrap: break-word;
  text-align: center;
  margin-top: 0px;
}

.menuItem4{
  margin-left: 4%;
  font: Inter;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  display: inline-block;
  vertical-align: middle;
  color: black;
  word-wrap: break-word;
  text-align: center;
  margin-top: 0px;
}

.menuItem5{
  margin-left: 4%;
  font: Inter;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  display: inline-block;
  vertical-align: middle;
  color: black;
  word-wrap: break-word;
  margin-top: 0px;
  text-align: center;
}



a{
  color: black;
}

a:link {
  outline: none;
  text-decoration: none;
}

a:visited {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a:hover {
  outline: none;
  text-decoration: none;
}

a:active {
  border-bottom: 1px solid;
}




.menu_links{
  margin-left: 25%;
  width: 50%;
  flex-wrap: wrap;
  padding-top: 5px;
  height: 60px;
}

.menu_nav {
  width: 66%;
  margin-left: 17%;
  position: relative;
}


.showMenu {
  transform: translateY(0);
}

#ru_eng{
  display: block;
  height: 50px;
  margin-left: 83%;
  margin-top: -55px;
  position: absolute;
}

.ENG{
  font: Inter;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0px;
  margin: 0;
}


.container{
  /* 1305 */
  width: 68%; 
  margin-top: 155px;
  margin-left: 16%;
  height: 1500px;
  display: inline-block;
  position: relative;
}


.tittle{
  width: 100%;
  height: 80px;
  background-color: rgb(38, 20, 94);
  margin-top: 75px;
  position: absolute;
}

.tittle1{
  margin-top: 10px;
  text-align: center;
  color: white;
  font: Inter;
  font-weight: 800;
  font-size: 45px;
  letter-spacing: 0px;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 75px 10%;
  align-items: flex-start;
  margin-top: 100px;
}

.card1 {
    width: 45%;
    border-radius: 30px;
    border: 2px solid #000000;
    background: #FAFAFA;
    /* padding: 40px 90px 76px 40px; */
    position: relative;
    display: inline-block;
    box-shadow: 5px 5px 10px 0px rgba(30, 30, 30, 0.5)
}

.card_text1{
  width: 100%;
  display: block;
  margin-top: 60px;
}

.card_tittle1{
    color: rgb(38, 20, 94);
    font: Inter;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0px;
    margin-left: 12%;
}

.card_num1{
    color: rgb(38, 20, 94);
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    margin-left: 90%;
}

.hr_card1{
  width: 90%;
  height: 2px;
  margin-left: 10%;
  margin-top: 50px;
}

.p_card1{
    text-align: center;
    margin-top: 30px;
    font: Inter;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0px;
}
.card1_logo{
    margin-top: 50px;
    border-radius: 28px;
    width: 100%;
    height: 415px;

}

.card2 {
    width: 45%;
    border-radius: 30px;
    border: 2px solid #000000;
    background: #FAFAFA;
    /* padding: 40px 90px 76px 40px; */
    display: inline-block;
    box-shadow: 5px 5px 10px 0px rgba(30, 30, 30, 0.5)
}

.card_text2{
    width: 100%;
    display: block;
    margin-top: 60px;
}

.card_tittle2{
    color: rgb(38, 20, 94);
    font: Inter;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0px;
    margin-left: 12%;
    width: 75%;
}

.card_num2{
    color: rgb(38, 20, 94);
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    margin-left: 90%;
    margin-top: -25px;
}

.hr_card2{
  width: 90%;
  height: 2px;
  margin-left: 10%;
  margin-top: 110px;
}


.card2_logo{
  margin-top: 50px;
  border-radius: 28px;
  width: 100%;
  height: 415px;

}


.card3 {
    width: 45%;
    border-radius: 30px;
    border: 2px solid #000000;
    background: #FAFAFA;
    /* padding: 40px 90px 76px 40px; */
    display: inline-block;
    box-shadow: 5px 5px 10px 0px rgba(30, 30, 30, 0.5);
    margin-left: 27.5%;
}

.card_text3{
    width: 100%;
    display: block;
    margin-top: 60px;
}

.card_tittle3{
  width: 75%;
  color: rgb(38, 20, 94);
  font: Inter;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0px;
  margin-left: 15%;
}

.card_num3{
    color: rgb(38, 20, 94);
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    margin-left: 90%;
}

.hr_card3{
  width: 90%;
  height: 2px;
  margin-left: 10%;
  margin-top: 90px;
}


.card3_logo{
    margin-top: 68px;
    border-radius: 28px;
    width: 100%;
    height: 415px;

}


footer{
  width: 100%;
  height: 100px;
  margin-top: 70px;
  background-color: rgb(38, 20, 94);
  display: inline-block;
  position: relative;
}

.ur_adress{
  width: 30%;
  left: 20%;
  top: 30px;
  color: #ffffff;
  font: Inter;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0px;
  position: absolute;
}

.email_adress{
  width: 30%;
  left: 65%;
  top: 30px;
  color: #ffffff;
  font: Inter;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0px;
  position: absolute;
}


@media (max-width:3000px){
  .content{
    width: 100%;
    height: 1800px;
    margin: 0;
    padding-top: 0px;
    box-sizing: border-box;
    display: block;
  }

  #nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 55;
    width: 100%;
    height: 75px;
    margin-top: 0;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  

  .wrap{
    width: 66%;
    height: 75px;
    position: absolute;
    top: 0;
    margin-left: 17%;
  }


  .logo_img{
    margin-top: 5px;
    left: 0;
    width: 130px;
    height: 65px;
  }
  
  
  .closeIcon {
    display: none;
  }


  .burger1 {
    position: absolute;
    margin-top: -60px;
    margin-left: 92%;
  }

  .burger {
    position: absolute;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    z-index: 100;
    background: transparent;
    width: 60px;
    height: 45px;
    
  }


  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 6px;
    background: #000;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 20px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger.active::before {
    top: 20px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger.active::after {
    bottom: 20px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }

  
  .menu {
    width: 100%;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: -25px;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    padding-top: 0;
    color: black;
    padding-top: 25px;
    background-color: #ffffff;
    height: 180px;
  }

  .menuItem1{
    width: 60px;
    margin-left: 0;
    font: Inter;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem2{
    width: 200px;
    margin-left: 4%;
    font: Inter;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem3{
    width: 200px;
    margin-left: 4%;
    font: Inter;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem4{
    width: 320px;
    margin-left: 4%;
    font: Inter;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem5{
    width: 110px;
    margin-left: 4%;
    font: Inter;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    margin-top: 0px;
    text-align: center;
  }


  a{
    color: black;
  }

  a:link {
    outline: none;
    text-decoration: none;
  }
  
  a:visited {
    outline: none;
    text-decoration: none;
  }
  
  a:focus {
    outline: none;
    text-decoration: none;
  }
  
  a:hover {
    outline: none;
    text-decoration: none;
  }
  
  a:active {
    border-bottom: 1px solid;
  }


  .menu_links{
    margin-left: 20%;
    width: 60%;
    flex-wrap: wrap;
    padding-top: 5px;
    height: 60px;
  }

  .menu_nav {
    width: 66%;
    margin-left: 17%;
    position: relative;
  }

  .showMenu {
    transform: translateY(0);
  }


  #ru_eng{
    display: block;
    height: 50px;
    margin-left: 83%;
    margin-top: -55px;
    position: absolute;
  }
  
  .ENG{
    font: Inter;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0px;
    margin: 0;
  }

  .tittle{
    width: 100%;
    height: 80px;
    background-color: rgb(38, 20, 94);
    margin-top: 75px;
    position: absolute;
  }

  .tittle1{
    margin-top: 10px;
    text-align: center;
    color: white;
    font: Inter;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 0px;
  }

  .container{
    /* 1305 */
    width: 60%; 
    margin-top: 155px;
    margin-left: 20%;
    height: 1500px;
    display: inline-block;
    position: relative;
  }


  .card1 {
    width: 40%;
    margin-left: 5%;
    padding: 5px 5px 0px 5px;
  }

  
  .card_tittle1{
      color: rgb(38, 20, 94);
      font: Inter;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0px;
      margin-left: 12%;
  }
  
  .card_num1{
      color: rgb(38, 20, 94);
      font: Inter;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 0px;
      margin-left: 90%;
      margin-top: -25px;
  }
  
  .hr_card1{
    width: 90%;
    height: 2px;
    margin-left: 10%;
    margin-top: 10px;
  }
  
  .p_card1{
      text-align: center;
      margin-top: 30px;
      font: Inter;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 0px;
  }
  .card1_logo{
      margin-top: 50px;
      border-radius: 28px;
      width: 100%;
      height: 415px;
  
  }


  .card2 {
      width: 40%;
      margin-right: 5%;
      padding: 5px 5px 0px 5px;
  }

.card_tittle2{
    color: rgb(38, 20, 94);
    font: Inter;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    margin-left: 12%;
    width: 75%;
}

.card_num2{
    color: rgb(38, 20, 94);
    font: Inter;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0px;
    margin-left: 90%;
}

.hr_card2{
  width: 90%;
  height: 2px;
  margin-left: 10%;
  margin-top: 10px;
}


.card2_logo{
  margin-top: 50px;
  border-radius: 28px;
  width: 100%;
  height: 415px;

}




  .card3 {
    width: 40%;
    margin-left: 30%;
    padding: 5px 5px 0 5px;
  }


.card_tittle3{
  width: 75%;
  color: rgb(38, 20, 94);
  font: Inter;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0px;
  margin-left: 12%;
}

.card_num3{
    color: rgb(38, 20, 94);
    font: Inter;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0px;
    margin-left: 90%;
    margin-top: -25px;
}

.hr_card3{
  width: 90%;
  height: 2px;
  margin-left: 10%;
  margin-top: 10px;
}


.card3_logo{
    margin-top: 68px;
    border-radius: 28px;
    width: 100%;
    height: 415px;

}



  footer{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
  }
  
  .ur_adress{
    width: 30%;
    left: 20%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }
  
  .email_adress{
    width: 30%;
    left: 65%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }

}

@media (max-width:1840px){

  .card1_logo{
    margin-top: 60px;
    border-radius: 28px;
    width: 100%;
    height: 415px;
  
  }
  .card2_logo{
    margin-top: 40px;
    border-radius: 28px;
    width: 100%;
    height: 415px;
  
  }
}


@media (max-width:1800px){
  .menuItem1{
    width: 60px;
    margin-left: 0;
    font: Inter;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }
  
  .menuItem2{
    width: 180px;
    margin-left: 2%;
    font: Inter;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }
  
  .menuItem3{
    width: 170px;
    margin-left: 2%;
    font: Inter;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }
  
  .menuItem4{
    width: 290px;
    margin-left: 2%;
    font: Inter;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }
  
  .menuItem5{
    width: 110px;
    margin-left: 2%;
    font: Inter;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    margin-top: 0px;
    text-align: center;
  }
}



@media (max-width:1730px){
.card1_logo{
  height: 350px;

}

.card2_logo{
height: 350px;
}

.card3_logo{
height: 350px;

}
}




@media (max-width:1500px){
  .content{
    width: 100%;
    height: 1800px;
    margin: 0;
    padding-top: 0px;
    box-sizing: border-box;
    display: block;
  }
  

  .wrap{
    width: 66%;
    height: 75px;
    position: absolute;
    top: 0;
    margin-left: 17%;
  }


  .burger1 {
    position: absolute;
    margin-top: -60px;
    margin-left: 92%;
  }

  .burger {
    position: absolute;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    z-index: 100;
    background: transparent;
    width: 60px;
    height: 45px;
    
  }

  
  .menu {
    width: 100%;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: -25px;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    padding-top: 0;
    color: black;
    padding-top: 25px;
    background-color: #ffffff;
    height: 180px;
  }

  .menuItem1{
    width: 60px;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem2{
    width: 100px;
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem3{
    width: 100px;
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem4{
    width: 150px;
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem5{
    width: 110px;
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    margin-top: 0px;
    text-align: center;
  }

  .menu_links{
    margin-left: 25%;
    width: 50%;
    flex-wrap: wrap;
    padding-top: 5px;
    height: 60px;
  }

  .menu_nav {
    width: 66%;
    margin-left: 17%;
    position: relative;
  }

  .showMenu {
    transform: translateY(0);
  }

  #ru_eng{
    display: block;
    height: 50px;
    margin-left: 80%;
    margin-top: -50px;
    position: absolute;
  }
  
  .ENG{
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    margin: 0;
  }


  .tittle{
    width: 100%;
    height: 80px;
    background-color: rgb(38, 20, 94);
    margin-top: 75px;
    position: absolute;
  }

  .tittle1{
    margin-top: 10px;
    text-align: center;
    color: white;
    font: Inter;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 0px;
  }

  .container{
    /* 1305 */
    width: 68%; 
    margin-top: 155px;
    margin-left: 16%;
    height: 1500px;
    display: inline-block;
    position: relative;
  }
}





@media (max-width:1300px){
  .content{
    width: 100%;
    height: 1700px;
    margin: 0;
    padding-top: 0px;
    box-sizing: border-box;
    display: block;
  }
  

  .wrap{
    width: 72%;
    height: 75px;
    position: absolute;
    top: 0;
    margin-left: 14%;
  }


  .burger1 {
    position: absolute;
    margin-top: -60px;
    margin-left: 92%;
  }

  .burger {
    position: absolute;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    z-index: 100;
    background: transparent;
    width: 60px;
    height: 45px;
    
  }
  
  
  .menu {
    width: 100%;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: -25px;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    padding-top: 0;
    color: black;
    padding-top: 25px;
    background-color: #ffffff;
    height: 180px;
  }

  .menuItem1{
    width: 60px;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem2{
    width: 100px;
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem3{
    width: 100px;
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem4{
    width: 150px;
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem5{
    width: 110px;
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    margin-top: 0px;
    text-align: center;
  }


  


  .menu_links{
    margin-left: 20%;
    width: 60%;
    flex-wrap: wrap;
    padding-top: 5px;
    height: 60px;
  }

  .menu_nav {
    width: 72%;
    margin-left: 14%;
    position: relative;
  }

  .showMenu {
    transform: translateY(0);
  }


  #ru_eng{
    display: block;
    height: 50px;
    margin-left: 80%;
    margin-top: -50px;
    position: absolute;
  }
  
  .ENG{
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    margin: 0;
  }


  .tittle{
    width: 100%;
    height: 80px;
    background-color: rgb(38, 20, 94);
    margin-top: 75px;
    position: absolute;
  }

  .tittle1{
    margin-top: 10px;
    text-align: center;
    color: white;
    font: Inter;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 0px;
  }

  .container{
    /* 1305 */
    width: 72%; 
    margin-top: 155px;
    margin-left: 14%;
    height: 1400px;
    display: inline-block;
    position: relative;
  }



  footer{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
  }
  
  .ur_adress{
    width: 40%;
    left: 20%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }
  
  .email_adress{
    width: 30%;
    left: 65%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }

}

@media (max-width:1212px){
  .card1_logo{
    height: 350px;
    margin-top: 80px;
  
  }
  
  .card2_logo{
  height: 350px;
  }
  
  .card3_logo{
  height: 350px;
  
  }
  }

  @media (max-width:1124px){
    .card1_logo{
      height: 310px;
      margin-top: 85px;
    }
    
    .card2_logo{
    height: 310px;
    margin-top: 25px;
    }
    
    .card3_logo{
    height: 310px;
    margin-top: 63px;
    }
    }


@media (max-width:1094px){
  .content{
    width: 100%;
    height: 1600px;
    margin: 0;
    padding-top: 0px;
    box-sizing: border-box;
    display: block;
  }


  .wrap{
    width: 80%;
    height: 75px;
    position: absolute;
    top: 0;
    margin-left: 10%;
  }


  .burger1 {
    position: absolute;
    margin-top: -60px;
    margin-left: 92%;
  }

  .burger {
    position: absolute;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    z-index: 100;
    background: transparent;
    width: 60px;
    height: 45px;
    
  }

  
  .menu {
    width: 100%;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: -25px;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    padding-top: 0;
    color: black;
    padding-top: 25px;
    background-color: #ffffff;
    height: 180px;
  }

  .menuItem1{
    margin-left: 0;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem2{
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem3{
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem4{
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem5{
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    margin-top: 0px;
    text-align: center;
  }

  


  .menu_links{
    margin-left: 17%;
    width: 66%;
    flex-wrap: wrap;
    padding-top: 5px;
    height: 60px;
  }

  .menu_nav {
    width: 80%;
    margin-left: 10%;
    position: relative;
  }

  .showMenu {
    transform: translateY(0);
  }

  #ru_eng{
    display: block;
    height: 50px;
    margin-left: 78%;
    margin-top: -50px;
    position: absolute;
  }
  
  .ENG{
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    margin: 0;
  }

  .tittle{
    width: 100%;
    height: 80px;
    background-color: rgb(38, 20, 94);
    margin-top: 75px;
    position: absolute;
  }

  .tittle1{
    margin-top: 10px;
    text-align: center;
    color: white;
    font: Inter;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 0px;
  }

  .container{
    /* 1305 */
    width: 80%; 
    margin-top: 155px;
    margin-left: 10%;
    height: 1300px;
    display: inline-block;
    position: relative;
  }

  .cards{
    gap: 75px 8%;
  }


  .card1 {
    width: 46%;
    margin-left: 0;
  }

  .card2 {
    width: 46%;
    margin-right: 0;
  }

  .card3 {
    width: 46%;
    margin-left: 27%;
  }

    .card1_logo{
      height: 330px;
      margin-top: 50px;
    }
    
    .card2_logo{
    height: 330px;
    margin-top: 30px;
    }
    
    .card3_logo{
    height: 330px;
    margin-top: 63px;
    }



  footer{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
  }
  
  .ur_adress{
    width: 40%;
    left: 15%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }
  
  .email_adress{
    width: 20%;
    left: 70%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }

}






@media (max-width:950px){
  .content{
    width: 100%;
    height: 1600px;
    margin: 0;
    padding-top: 0px;
    box-sizing: border-box;
    display: block;
  }

  .wrap{
    width: 86%;
    height: 75px;
    position: absolute;
    top: 0;
    margin-left: 7%;
  }



  .burger1 {
    position: absolute;
    margin-top: -60px;
    margin-left: 92%;
  }

  .burger {
    position: absolute;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    z-index: 100;
    background: transparent;
    width: 60px;
    height: 45px;
    
  }

  
  .menu {
    width: 100%;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: -25px;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    padding-top: 0;
    color: black;
    padding-top: 25px;
    background-color: #ffffff;
    height: 180px;
  }

  .menuItem1{
    margin-left: 0;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem2{
    margin-left: 2%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem3{
    margin-left: 2%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem4{
    margin-left: 2%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem5{
    margin-left: 2%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    margin-top: 0px;
    text-align: center;
  }

  


  .menu_links{
    margin-left: 11%;
    width: 78%;
    flex-wrap: wrap;
    padding-top: 5px;
    height: 60px;
  }

  .menu_nav {
    width: 86%;
    margin-left: 7%;
    position: relative;
  }

  .showMenu {
    transform: translateY(0);
  }


  #ru_eng{
    display: block;
    height: 50px;
    margin-left: 78%;
    margin-top: -50px;
    position: absolute;
  }
  
  .ENG{
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    margin: 0;
  }

  .tittle{
    width: 100%;
    height: 80px;
    background-color: rgb(38, 20, 94);
    margin-top: 75px;
    position: absolute;
  }

  .tittle1{
    margin-top: 10px;
    text-align: center;
    color: white;
    font: Inter;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 0px;
  }

  .container{
    /* 1305 */
    width: 86%; 
    margin-top: 155px;
    margin-left: 7%;
    height: 1300px;
    display: inline-block;
    position: relative;
  }


  .p_card1{
    font-size: 13px;
  }

  
  

  footer{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
  }
  
  .ur_adress{
    width: 50%;
    left: 10%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }
  
  .email_adress{
    width: 25%;
    left: 70%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }

}



@media (max-width:882px){
  .card1_logo{
    height: 300px;
    margin-top: 75px;
  }
  
  .card2_logo{
  height: 300px;
  margin-top: 35px;
  }
  
  .card3_logo{
  height: 300px;
  margin-top: 63px;
  }
  }

  @media (max-width:818px){
    .card1_logo{
      height: 300px;
      margin-top: 85px;
    }
    
    .card2_logo{
    height: 300px;
    margin-top: 25px;
    }
    
    .card3_logo{
    height: 300px;
    margin-top: 63px;
    }
    }

    @media (max-width:772px){
      .card1_logo{
        height: 300px;
        margin-top: 85px;
      }
      
      .card2_logo{
      height: 300px;
      margin-top: 45px;
      }
      
      .card3_logo{
      height: 300px;
      margin-top: 63px;
      }
      }


@media (max-width:750px){
  .content{
    width: 100%;
    height: 2200px;
    margin: 0;
    padding-top: 0px;
    box-sizing: border-box;
    display: block;
  }
 

  .wrap{
    width: 92%;
    height: 75px;
    position: absolute;
    top: 0;
    margin-left: 4%;
  }


  .burger1 {
    position: absolute;
    margin-top: -60px;
    margin-left: 89%;
  }

  .burger {
    position: absolute;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    z-index: 100;
    background: transparent;
    width: 60px;
    height: 45px;
    
  }

  
  .menu {
    width: 100%;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: -25px;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    padding-top: 0;
    color: black;
    padding-top: 25px;
    background-color: #ffffff;
    height: 380px;
  }

  .menuItem1{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;

  }

  .menuItem2{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    margin-left: 0;
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;

  }

  .menuItem3{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;

  }

  .menuItem4{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;

  }

  .menuItem5{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
  }


  .menu_links{
    margin-left: 14%;
    width: 72%;
    flex-wrap: wrap;
    padding-top: 5px;
    height: 250px;
  }

  .menu_nav {
    width: 92%;
    margin-left: 4%;
    position: relative;
  }

  .showMenu {
    transform: translateY(0);
  }


  #ru_eng{
    display: block;
    height: 50px;
    margin-left: 78%;
    margin-top: -50px;
    position: absolute;
  }
  
  .ENG{
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    margin: 0;
  }


  .tittle{
    width: 100%;
    height: 80px;
    background-color: rgb(38, 20, 94);
    margin-top: 75px;
    position: absolute;
  }

  .tittle1{
    margin-top: 10px;
    text-align: center;
    color: white;
    font: Inter;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 0px;
  }

  .container{
    /* 1305 */
    width: 92%; 
    margin-top: 155px;
    margin-left: 4%;
    height: 1950px;
    display: inline-block;
    position: relative;
  }

  .cards{
    gap: 75px 0;
  }

  footer{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
  }
  
  .ur_adress{
    width: 50%;
    left: 7%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    letter-spacing: 0px;
    position: absolute;
  }
  
  .email_adress{
    width: 30%;
    left: 65%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    letter-spacing: 0px;
    position: absolute;
  }
}



@media (max-width:750px){

  .cards{
    margin-top: 50px;
  }
  .card1 {
    width: 60%;
    margin-left: 20%;
  }

  .card2 {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
  }

  .card3 {
    width: 60%;
    margin-left: 20%;
  }
    .card1_logo{
      height: 330px;
      margin-top: 60px;
    }
    
    .card2_logo{
    height: 330px;
    margin-top: 25px;
    }
    
    .card3_logo{
    height: 330px;
    margin-top: 63px;
    }

  .ur_adress{
    font-size: 15px;
  }
  .email_adress{
    font-size: 15px;
  }

}

@media (max-width:624px){

.tittle{
  width: 100%;
  height: 140px;
  background-color: rgb(38, 20, 94);
  margin-top: 75px;
  position: absolute;
}

.container{
  /* 1305 */
  width: 92%; 
  margin-top: 230px;
  margin-left: 4%;
  height: 1950px;
  display: inline-block;
  position: relative;
}
}



@media (max-width:600px){
  .card1 {
    width: 70%;
    margin-left: 15%;
  }

  .card2 {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
  }

  .card3 {
    width: 70%;
    margin-left: 15%;
  }

}


@media (max-width:550px){

  .card1 {
    width: 76%;
    margin-left: 12%;
  }

  .card2 {
    width: 76%;
    margin-right: 12%;
    margin-left: 12%;
  }

  .card3 {
    width: 76%;
    margin-left: 12%;
  }

  #ru_eng{
    display: block;
    height: 68px;
    margin-left: 68%;
    margin-top: -50px;
    position: absolute;
  }

  .burger1 {
    position: absolute;
    margin-top: -60px;
    margin-left: 85%;
  }
  
  .ur_adress{
    font-size: 12px;
  }
  .email_adress{
    font-size: 12px;
  }

}

@media (max-width:550px){

  .card1 {
    width: 80%;
    margin-left: 10%;
  }

  .card2 {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }

  .card3 {
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width:450px){

  .cards{
    margin-top: 0px;
  }

  .tittle{
    width: 100%;
    height: 50px;
    background-color: rgb(38, 20, 94);
    margin-top: 75px;
    position: absolute;
  }

  .tittle1{
    margin-top: 5px;
    text-align: center;
    color: white;
    font: Inter;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0px;
  }


  #ru_eng{
    display: block;
    height: 68px;
    margin-left: 62%;
    margin-top: -50px;
    position: absolute;
  }

  .burger1 {
    position: absolute;
    margin-top: -60px;
    margin-left: 82%;
  }
  .card1 {
    width: 96%;
    margin-left: 2%;
  }

  .card_tittle1{
    font-size: 20px;
  }

  .card2 {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
  }

  .card_tittle2{
    font-size: 18px;
  }

  .card3 {
    width: 96%;
    margin-left: 2%;
  }

  .tittle{
    width: 100%;
    height: 50px;
    background-color: rgb(38, 20, 94);
    margin-top: 75px;
    position: absolute;
  }

  .tittle1{
    margin-top: 5px;
    text-align: center;
    color: white;
    font: Inter;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0px;
  }

  .menu_links{
    margin-left: 5%;
    width: 90%;
    flex-wrap: wrap;
    padding-top: 5px;
    height: 250px;
  }

  .menuItem1{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    font: Inter;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;

  }

  .menuItem2{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    margin-left: 0;
    font: Inter;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;

  }

  .menuItem3{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    font: Inter;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;

  }

  .menuItem4{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    font: Inter;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;

  }

  .menuItem5{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    font: Inter;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
  }

  .ur_adress{
    font-size: 10px;
  }
  .email_adress{
    font-size: 10px;
  }




}

@media (max-width:426px){

  .tittle{
    width: 100%;
    height: 90px;
    background-color: rgb(38, 20, 94);
    margin-top: 75px;
    position: absolute;
  }

  .tittle1{
    margin-top: 5px;
    text-align: center;
    color: white;
    font: Inter;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0px;
  }

  .container{
    margin-top: 250px;
  }




}