#preloader {
    width: 100%;
    height: 700px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader_img{
  width: 80%;
  animation: small-big-small 2s ease-in-out;
}

@keyframes small-big-small {
  0% {
    transform: scale(0.7, 0.7);
  }
  100% {
    transform: scale(1, 1);
  }
}

html {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  /* font-size: 16px; */
  height: 100%;
  padding: 0;
  margin: 0;
}

/* 1240-1600 */

.content{
  width: 100%;
  height: 1000px;
  margin: 0;
  padding-top: 0px;
  box-sizing: border-box;
  display: block;
}



#nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 55;
  width: 100%;
  height: 75px;
  background-color: rgb(255, 255, 255);
  margin-top: 0;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0.5px 15px 0px #000 ;
}

.wrap{
  width: 66%;
  height: 75px;
  position: absolute;
  top: 0;
  margin-left: 17%;
}

.logo_img{
  margin-top: 5px;
  left: 0;
  width: 130px;
  height: 65px;
}


.closeIcon {
  display: none;
}

.burger1 {
  position: absolute;
  margin-top: -60px;
  margin-left: 92%;
}

.burger {
  position: absolute;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  z-index: 100;
  background: transparent;
  width: 60px;
  height: 45px;
  
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 6px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 20px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger.active::before {
  top: 20px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger.active::after {
  bottom: 20px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}

.menu {
  width: 100%;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: -25px;
  left: 0;
  right: 0;
  bottom: 0;
  list-style: none;
  padding-top: 0;
  color: black;
  padding-top: 25px;
  background-color: #ffffff;
  height: 180px;
  box-shadow: 0px 0.5px 15px 0px #000 ;
}

.menuItem1{
  margin-left: 4%;
  font: Inter;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  display: inline-block;
  vertical-align: middle;
  color: black;
  word-wrap: break-word;
  text-align: center;
  margin-top: 0px;
}

.menuItem2{
  margin-left: 4%;
  font: Inter;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  display: inline-block;
  vertical-align: middle;
  color: black;
  word-wrap: break-word;
  text-align: center;
  margin-top: 0px;
}

.menuItem3{
  margin-left: 4%;
  font: Inter;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  display: inline-block;
  vertical-align: middle;
  color: black;
  word-wrap: break-word;
  text-align: center;
  margin-top: 0px;
}

.menuItem4{
  margin-left: 4%;
  font: Inter;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  display: inline-block;
  vertical-align: middle;
  color: black;
  word-wrap: break-word;
  text-align: center;
  margin-top: 0px;
}

.menuItem5{
  margin-left: 4%;
  font: Inter;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  display: inline-block;
  vertical-align: middle;
  color: black;
  word-wrap: break-word;
  margin-top: 0px;
  text-align: center;
}



a{
  color: black;
}

a:link {
  outline: none;
  text-decoration: none;
}

a:visited {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a:hover {
  outline: none;
  text-decoration: none;
}

a:active {
  border-bottom: 1px solid;
}




.menu_links{
  margin-left: 25%;
  width: 50%;
  flex-wrap: wrap;
  padding-top: 5px;
  height: 60px;
}

.menu_nav {
  width: 66%;
  margin-left: 17%;
  position: relative;
}


.showMenu {
  transform: translateY(0);
}

#ru_eng{
  display: block;
  height: 50px;
  margin-left: 83%;
  margin-top: -55px;
  position: absolute;
}

.ENG{
  font: Inter;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0px;
  margin: 0;
}

.tittle{
  width: 100%;
  height: 80px;
  background-color: rgb(38, 20, 94);
  margin-top: 75px;
  position: absolute;
}

.tittle1{
  margin-top: 10px;
  text-align: center;
  color: white;
  font: Inter;
  font-weight: 800;
  font-size: 45px;
  letter-spacing: 0px;
}

.card{
    width: 50%;
    margin-top: 250px;
    margin-left: 25%;
    position: relative;
    border: 3px solid rgb(38, 20, 94);
    border-radius: 26px;
    padding-bottom: 20px;
}

.buttons{
    width: 100%;
    height: 60px;
    /* margin-top: 5px;
    margin-left: 5px; */
    position: absolute;
    display: inline-block;
}

.btn1{
    width: 33%;
    height: 60px;
    background-color: #ffffff;
    color: rgb(38, 20, 94);
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    border-radius: 24px 0px 0px 24px;
    border: none;
}






.btn2{
    width: 33%;
    height: 60px;
    margin-left: 0;
    background-color: rgb(38, 20, 94);
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    border: none;
}

.btn3{
    width: 32.5%;
    height: 60px;
    margin-left: 0;
    background-color: rgb(38, 20, 94);
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    border: none;
    border-radius: 0px 24px 24px 0px;
    right: 0;
}

.contents{
    width: 100%;
    margin-top: 60px;
}

.img1{
    margin-top: 20px;
    width: 60%;
    margin-left: 20%;
}

.block1{
    width: 45%;
    height: 80px;
    margin-top: 20px;
    margin-left: 10%;
    border: 1.5px solid #000;
    border-radius: 20px;
}

.p_block1{
    width: 86%;
    margin: 7%;
    font: Inter;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
}

.block2{
    width: 45%;
    height: 125px;
    margin-top: 20px;
    margin-left: 45%;
    border: 1.5px solid #000;
    border-radius: 20px;
}

.p_block2{
    width: 86%;
    margin: 7%;
    font: Inter;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
}

.img2{
    margin-top: 80px;
    width: 60%;
    margin-left: 20%;
}

.block3{
    width: 80%;
    margin-top: 100px;
    margin-left: 10%;
    margin-bottom: 50px;
}

li{
    margin-top: 10px;
    font: Inter;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
}


.p2{
    color: rgb(38, 20, 94);
    font: Inter;
    font-weight: 550;
    font-size: 22px;
    letter-spacing: 0px;
    margin-top: 150px;
    text-align: center;
}

.block4{
    margin-top: 50px;
    width: 100%;
}

.block5{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15%;
    width: 70%;
}

.img3{
    margin-left: 4%;
    width: 20%;

}

.img4{
    margin-left: 3%;
    width: 20%;

}


.img5{
    margin-left: 3%;
    width: 20%;

}

.img6{
    margin-left: 3%;
    width: 20%;

}


footer{
    width: 100%;
    height: 100px;
    margin-top: 150px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
}
  
  .ur_adress{
    width: 30%;
    left: 20%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }
  
  .email_adress{
    width: 30%;
    left: 65%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
   }



  @media (max-width:3000px){

    .content{
        width: 100%;
        height: 1050px;
        margin: 0;
        padding-top: 0px;
        box-sizing: border-box;
        display: block;
      }
    
      #nav{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 55;
        width: 100%;
        height: 75px;
        margin-top: 0;
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      
    
      .wrap{
        width: 66%;
        height: 75px;
        position: absolute;
        top: 0;
        margin-left: 17%;
      }
    
    
      .logo_img{
        margin-top: 5px;
        left: 0;
        width: 130px;
        height: 65px;
      }
      
      
      .closeIcon {
        display: none;
      }
    
    
      .burger1 {
        position: absolute;
        margin-top: -60px;
        margin-left: 92%;
      }
    
      .burger {
        position: absolute;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        z-index: 100;
        background: transparent;
        width: 60px;
        height: 45px;
        
      }
    
    
      .burger::before,
      .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 6px;
        background: #000;
      }
      .burger::before {
        top: 0;
        box-shadow: 0 20px 0 #000;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
      }
      .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
      }
      .burger.active::before {
        top: 20px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
      }
      .burger.active::after {
        bottom: 20px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
      }
    
      
      .menu {
        width: 100%;
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: -25px;
        left: 0;
        right: 0;
        bottom: 0;
        list-style: none;
        padding-top: 0;
        color: black;
        padding-top: 25px;
        background-color: #ffffff;
        height: 180px;
      }
    
      .menuItem1{
        width: 100px;
        margin-left: 0;
        font: Inter;
        font-weight: 600;
        font-size: 23px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        text-align: center;
        margin-top: 10px;
      }
    
      .menuItem2{
        width: 200px;
        margin-left: 4%;
        font: Inter;
        font-weight: 600;
        font-size: 23px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        text-align: center;
        margin-top: 10px;
      }
    
      .menuItem3{
        width: 200px;
        margin-left: 4%;
        font: Inter;
        font-weight: 600;
        font-size: 23px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        text-align: center;
        margin-top: 10px;
      }
    
      .menuItem4{
        width: 320px;
        margin-left: 4%;
        font: Inter;
        font-weight: 600;
        font-size: 23px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        text-align: center;
        margin-top: 10px;
      }
    
      .menuItem5{
        width: 110px;
        margin-left: 4%;
        font: Inter;
        font-weight: 600;
        font-size: 23px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        margin-top: 10px;
        text-align: center;
      }
    
    
      a{
        color: black;
      }
    
      a:link {
        outline: none;
        text-decoration: none;
      }
      
      a:visited {
        outline: none;
        text-decoration: none;
      }
      
      a:focus {
        outline: none;
        text-decoration: none;
      }
      
      a:hover {
        outline: none;
        text-decoration: none;
      }
      
      a:active {
        border-bottom: 1px solid;
      }
    
    
      .menu_links{
        margin-left: 19%;
        width: 62%;
        flex-wrap: wrap;
        padding-top: 5px;
        height: 60px;
      }
    
      .menu_nav {
        width: 66%;
        margin-left: 17%;
        position: relative;
      }
    
      .showMenu {
        transform: translateY(0);
      }
    
    
      #ru_eng{
        display: block;
        height: 50px;
        margin-left: 83%;
        margin-top: -55px;
        position: absolute;
      }
      
      .ENG{
        font: Inter;
        font-weight: 600;
        font-size: 30px;
        letter-spacing: 0px;
        margin: 0;
      }
    
    
      .tittle{
        width: 100%;
        height: 80px;
        background-color: rgb(38, 20, 94);
        margin-top: 75px;
        position: absolute;
      }
    
      .tittle1{
        margin-top: 10px;
        text-align: center;
        color: white;
        font: Inter;
        font-weight: 800;
        font-size: 45px;
        letter-spacing: 0px;
      }

      .card{
        width: 30%;
        margin-left: 35%;
      }

      .img1{
        width: 100%;
        margin-left: 0;
      }

      .btn3{
        width: 32.4%;
      }


      

      footer{
        width: 100%;
        height: 100px;
        margin-top: 70px;
        background-color: rgb(38, 20, 94);
        display: inline-block;
        position: relative;
        bottom: 0;
      }
      
      .ur_adress{
        width: 30%;
        left: 20%;
        top: 30px;
        color: #ffffff;
        font: Inter;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0px;
        position: absolute;
      }
      
      .email_adress{
        width: 30%;
        left: 65%;
        top: 30px;
        color: #ffffff;
        font: Inter;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0px;
        position: absolute;
      }




  }

  @media (max-width:1900px){
    .btn3{
        width: 32.3%;
    }
  }


  @media (max-width:1820px){

    .btn1{
        font-size: 22px;
    }

    .btn2{
        font-size: 22px;
    }
    
    
    
    
    
    
    
    .block1{
        width: 45%;
        height: 100px;
        margin-top: 20px;
        margin-left: 10%;
        border: 1.5px solid #000;
        border-radius: 20px;
    }

    .block2{
        width: 45%;
        height: 150px;
        margin-top: 20px;
        margin-left: 45%;
        border: 1.5px solid #000;
        border-radius: 20px;
    }

    .btn3{
        width: 32.2%;
        font-size: 22px;
    }

    .menuItem1{
      width: 100px;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 23px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 10px;
    }
    
    .menuItem2{
      width: 180px;
      margin-left: 2%;
      font: Inter;
      font-weight: 600;
      font-size: 23px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 10px;
    }
    
    .menuItem3{
      width: 170px;
      margin-left: 2%;
      font: Inter;
      font-weight: 600;
      font-size: 23px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 10px;
    }
    
    .menuItem4{
      width: 290px;
      margin-left: 2%;
      font: Inter;
      font-weight: 600;
      font-size: 23px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 10px;
    }
    
    .menuItem5{
      width: 110px;
      margin-left: 2%;
      font: Inter;
      font-weight: 600;
      font-size: 23px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      margin-top: 10px;
      text-align: center;
    }
  
  }

  @media (max-width:1670px){
    .btn3{
        width: 32.1%;
    }
  }

  @media (max-width:1575px){
    .btn3{
        width: 32%;
    }
  }


  @media (max-width:1520px){

    .block2{
        height: 140px;
    }

    .content{
        width: 100%;
        height: 1100px;
        margin: 0;
        padding-top: 0px;
        box-sizing: border-box;
        display: block;
      }

    .card{
        width: 40%;
        margin-left: 30%;
    }
    
    .btn3{
        width: 32.4%;
    }
  .wrap{
    width: 66%;
    height: 75px;
    position: absolute;
    top: 0;
    margin-left: 17%;
  }


  .burger1 {
    position: absolute;
    margin-top: -60px;
    margin-left: 92%;
  }

  .burger {
    position: absolute;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    z-index: 100;
    background: transparent;
    width: 60px;
    height: 45px;
    
  }

  
  .menu {
    width: 100%;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: -25px;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    padding-top: 0;
    color: black;
    padding-top: 25px;
    background-color: #ffffff;
    height: 180px;
  }

  .menuItem1{
    width: 60px;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem2{
    width: 100px;
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem3{
    width: 100px;
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem4{
    width: 150px;
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
  }

  .menuItem5{
    width: 110px;
    margin-left: 3.5%;
    font: Inter;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    word-wrap: break-word;
    margin-top: 0px;
    text-align: center;
  }

  .menu_links{
    margin-left: 25%;
    width: 50%;
    flex-wrap: wrap;
    padding-top: 5px;
    height: 60px;
  }

  .menu_nav {
    width: 66%;
    margin-left: 17%;
    position: relative;
  }

  .showMenu {
    transform: translateY(0);
  }

  #ru_eng{
    display: block;
    height: 50px;
    margin-left: 83%;
    margin-top: -50px;
    position: absolute;
  }
  
  .ENG{
    font: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
    margin: 0;
  }

  .tittle{
    width: 100%;
    height: 80px;
    background-color: rgb(38, 20, 94);
    margin-top: 75px;
    position: absolute;
  }

  .tittle1{
    margin-top: 10px;
    text-align: center;
    color: white;
    font: Inter;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 0px;
  }

  footer{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
  }

  .ur_adress{
    width: 30%;
    left: 20%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }

  .email_adress{
    width: 30%;
    left: 65%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
  }
  }


  @media (max-width:1400px){
    .btn3{
        width: 32.2%;
    }
  }


  @media (max-width:1250px){

    .block2{
        height: 130px;
    }

    .card{
        width: 50%;
        margin-left: 25%;
    }
    
    .btn3{
        width: 32.3%;
    }
    .wrap{
      width: 72%;
      height: 75px;
      position: absolute;
      top: 0;
      margin-left: 14%;
    }
  
  
    .burger1 {
      position: absolute;
      margin-top: -60px;
      margin-left: 92%;
    }
  
    .burger {
      position: absolute;
      cursor: pointer;
      display: block;
      position: relative;
      border: none;
      z-index: 100;
      background: transparent;
      width: 60px;
      height: 45px;
      
    }
    
    
    .menu {
      width: 100%;
      position: fixed;
      transform: translateY(-100%);
      transition: transform 0.2s;
      top: -25px;
      left: 0;
      right: 0;
      bottom: 0;
      list-style: none;
      padding-top: 0;
      color: black;
      padding-top: 25px;
      background-color: #ffffff;
      height: 180px;
    }
  
    .menuItem1{
      width: 60px;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem2{
      width: 100px;
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem3{
      width: 100px;
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem4{
      width: 150px;
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem5{
      width: 110px;
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      margin-top: 0px;
      text-align: center;
    }
  
  
    
  
  
    .menu_links{
      margin-left: 20%;
      width: 60%;
      flex-wrap: wrap;
      padding-top: 5px;
      height: 60px;
    }
  
    .menu_nav {
      width: 72%;
      margin-left: 14%;
      position: relative;
    }
  
    .showMenu {
      transform: translateY(0);
    }
  
  
    #ru_eng{
      display: block;
      height: 50px;
      margin-left: 83%;
      margin-top: -50px;
      position: absolute;
    }
    
    .ENG{
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      margin: 0;
    }
  
  
    .tittle{
      width: 100%;
      height: 80px;
      background-color: rgb(38, 20, 94);
      margin-top: 75px;
      position: absolute;
    }
  
    .tittle1{
      margin-top: 10px;
      text-align: center;
      color: white;
      font: Inter;
      font-weight: 800;
      font-size: 45px;
      letter-spacing: 0px;
    }

    footer{
        width: 100%;
        height: 100px;
        margin-top: 70px;
        background-color: rgb(38, 20, 94);
        display: inline-block;
        position: relative;
      }
      
      .ur_adress{
        width: 40%;
        left: 20%;
        top: 30px;
        color: #ffffff;
        font: Inter;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0px;
        position: absolute;
      }
      
      .email_adress{
        width: 30%;
        left: 65%;
        top: 30px;
        color: #ffffff;
        font: Inter;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0px;
        position: absolute;
      }



  }

  @media (max-width:1094px){

    .card{
        width: 60%;
        margin-left: 20%;
    }

    .btn3{
        width: 32.4%;
    }
  
  
    .wrap{
      width: 80%;
      height: 75px;
      position: absolute;
      top: 0;
      margin-left: 10%;
    }
  
  
    .burger1 {
      position: absolute;
      margin-top: -60px;
      margin-left: 92%;
    }
  
    .burger {
      position: absolute;
      cursor: pointer;
      display: block;
      position: relative;
      border: none;
      z-index: 100;
      background: transparent;
      width: 60px;
      height: 45px;
      
    }
  
    
    .menu {
      width: 100%;
      position: fixed;
      transform: translateY(-100%);
      transition: transform 0.2s;
      top: -25px;
      left: 0;
      right: 0;
      bottom: 0;
      list-style: none;
      padding-top: 0;
      color: black;
      padding-top: 25px;
      background-color: #ffffff;
      height: 180px;
    }
  
    .menuItem1{
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem2{
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem3{
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem4{
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
      margin-top: 0px;
    }
  
    .menuItem5{
      margin-left: 3.5%;
      font: Inter;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      margin-top: 0px;
      text-align: center;
    }
  
    
  
  
    .menu_links{
      margin-left: 17%;
      width: 66%;
      flex-wrap: wrap;
      padding-top: 5px;
      height: 60px;
    }
  
    .menu_nav {
      width: 80%;
      margin-left: 10%;
      position: relative;
    }
  
    .showMenu {
      transform: translateY(0);
    }
  
    #ru_eng{
      display: block;
      height: 50px;
      margin-left: 83%;
      margin-top: -50px;
      position: absolute;
    }
    
    .ENG{
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      margin: 0;
    }
  
  
    .tittle{
      width: 100%;
      height: 80px;
      background-color: rgb(38, 20, 94);
      margin-top: 75px;
      position: absolute;
    }
  
    .tittle1{
      margin-top: 10px;
      text-align: center;
      color: white;
      font: Inter;
      font-weight: 800;
      font-size: 45px;
      letter-spacing: 0px;
    }

    footer{
        width: 100%;
        height: 100px;
        margin-top: 70px;
        background-color: rgb(38, 20, 94);
        display: inline-block;
        position: relative;
      }
      
      .ur_adress{
        width: 40%;
        left: 15%;
        top: 30px;
        color: #ffffff;
        font: Inter;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0px;
        position: absolute;
      }
      
      .email_adress{
        width: 20%;
        left: 70%;
        top: 30px;
        color: #ffffff;
        font: Inter;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0px;
        position: absolute;
      }

  }

    @media (max-width:950px){
        .btn3{
            width: 32.2%;
        }

        .wrap{
        width: 86%;
        height: 75px;
        position: absolute;
        top: 0;
        margin-left: 7%;
        }



        .burger1 {
        position: absolute;
        margin-top: -60px;
        margin-left: 92%;
        }

        .burger {
        position: absolute;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        z-index: 100;
        background: transparent;
        width: 60px;
        height: 45px;
        
        }

        
        .menu {
        width: 100%;
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: -25px;
        left: 0;
        right: 0;
        bottom: 0;
        list-style: none;
        padding-top: 0;
        color: black;
        padding-top: 25px;
        background-color: #ffffff;
        height: 180px;
        }

        .menuItem1{
        margin-left: 0;
        font: Inter;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        text-align: center;
        margin-top: 0px;
        }

        .menuItem2{
        margin-left: 2%;
        font: Inter;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        text-align: center;
        margin-top: 0px;
        }

        .menuItem3{
        margin-left: 2%;
        font: Inter;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        text-align: center;
        margin-top: 0px;
        }

        .menuItem4{
        margin-left: 2%;
        font: Inter;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        text-align: center;
        margin-top: 0px;
        }

        .menuItem5{
        margin-left: 2%;
        font: Inter;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0px;
        display: inline-block;
        vertical-align: middle;
        color: black;
        word-wrap: break-word;
        margin-top: 0px;
        text-align: center;
        }

        


        .menu_links{
        margin-left: 15%;
        width: 70%;
        flex-wrap: wrap;
        padding-top: 5px;
        height: 60px;
        }

        .menu_nav {
        width: 86%;
        margin-left: 7%;
        position: relative;
        }

        .showMenu {
        transform: translateY(0);
        }


        #ru_eng{
          display: block;
          height: 50px;
          margin-left: 80%;
          margin-top: -50px;
          position: absolute;
        }
        
        .ENG{
          font: Inter;
          font-weight: 600;
          font-size: 25px;
          letter-spacing: 0px;
          margin: 0;
        }

        .tittle{
        width: 100%;
        height: 80px;
        background-color: rgb(38, 20, 94);
        margin-top: 75px;
        position: absolute;
        }

        .tittle1{
        margin-top: 10px;
        text-align: center;
        color: white;
        font: Inter;
        font-weight: 800;
        font-size: 45px;
        letter-spacing: 0px;
        }

        footer{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(38, 20, 94);
    display: inline-block;
    position: relative;
    }

    .ur_adress{
    width: 50%;
    left: 10%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
    }

    .email_adress{
    width: 25%;
    left: 70%;
    top: 30px;
    color: #ffffff;
    font: Inter;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0px;
    position: absolute;
    }

    }

  @media (max-width:850px){

    .content{
      height: 1050px;
    }

    .btn3{
      width: 32%;
      font-size: 18px;
    }

    .btn2{
      font-size: 18px;
    }

    .btn1{
      font-size: 18px;
    }

    .block2{
      height: 150px;
    }
  }

  @media (max-width:835px){
    .menu_links{
      margin-left: 13%;
      width: 74%;
      flex-wrap: wrap;
      padding-top: 5px;
      height: 60px;
    }
  }
  
  @media (max-width:790px){
    .menu_links{
      margin-left: 11%;
      width: 78%;
      flex-wrap: wrap;
      padding-top: 5px;
      height: 60px;
    }
  }

  @media (max-width:750px){

    .card{
      width: 70%;
      margin-left: 15%;
    }
   
  
    .wrap{
      width: 92%;
      height: 75px;
      position: absolute;
      top: 0;
      margin-left: 4%;
    }
  
  
    .burger1 {
      position: absolute;
      margin-top: -60px;
      margin-left: 89%;
    }
  
    .burger {
      position: absolute;
      cursor: pointer;
      display: block;
      position: relative;
      border: none;
      z-index: 100;
      background: transparent;
      width: 60px;
      height: 45px;
      
    }
  
    
    .menu {
      width: 100%;
      position: fixed;
      transform: translateY(-100%);
      transition: transform 0.2s;
      top: -25px;
      left: 0;
      right: 0;
      bottom: 0;
      list-style: none;
      padding-top: 0;
      color: black;
      padding-top: 25px;
      background-color: #ffffff;
      height: 380px;
    }
  
    .menuItem1{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem2{
      width: 100%;
      margin-top: 20px;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem3{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem4{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem5{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
    }
  
  
    .menu_links{
      margin-left: 14%;
      width: 72%;
      flex-wrap: wrap;
      padding-top: 5px;
      height: 250px;
    }
  
    .menu_nav {
      width: 92%;
      margin-left: 4%;
      position: relative;
    }
  
    .showMenu {
      transform: translateY(0);
    }
  
  
    #ru_eng{
      display: block;
      height: 50px;
      margin-left: 76%;
      margin-top: -50px;
      position: absolute;
    }
    
    .ENG{
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      margin: 0;
    }
  
  
    .tittle{
      width: 100%;
      height: 80px;
      background-color: rgb(38, 20, 94);
      margin-top: 75px;
      position: absolute;
    }
  
    .tittle1{
      margin-top: 10px;
      text-align: center;
      color: white;
      font: Inter;
      font-weight: 800;
      font-size: 45px;
      letter-spacing: 0px;
    }

    footer{
      width: 100%;
      height: 100px;
      margin-top: 70px;
      background-color: rgb(38, 20, 94);
      display: inline-block;
      position: relative;
    }
    
    .ur_adress{
      width: 50%;
      left: 7%;
      top: 30px;
      color: #ffffff;
      font: Inter;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 0px;
      position: absolute;
    }
    
    .email_adress{
      width: 30%;
      left: 65%;
      top: 30px;
      color: #ffffff;
      font: Inter;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 0px;
      position: absolute;
    }

  }


  @media (max-width:650px){

    .btn3{
      width: 31.8%;
      font-size: 18px;
    }

    .btn1{
      font-size: 18px;
    }

    .btn2{
      font-size: 18px;
    }
  }


  @media (max-width:600px){

    .card{
      width: 80%;
      margin-left: 10%;
    }

    .block1{
      margin-left: 5%;
      width: 50%;
    }

    .block2{
      margin-left: 45%;
      width: 50%;
    }

    .btn3{
      width: 31.8%;
    }

    .ur_adress{
      width: 50%;
      left: 7%;
      top: 30px;
      color: #ffffff;
      font: Inter;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 0px;
      position: absolute;
    }
    
    .email_adress{
      width: 30%;
      left: 65%;
      top: 30px;
      color: #ffffff;
      font: Inter;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 0px;
      position: absolute;
    }
  }

  @media (max-width:550px){

    #ru_eng{
      display: block;
      height: 50px;
      margin-left: 75%;
      margin-top: -50px;
      position: absolute;
    }
    
    .ENG{
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      margin: 0;
    }

    .card{
      width: 84%;
      margin-left: 8%;
    }

    .block1{
      margin-left: 5%;
      width: 50%;
    }

    .block2{
      margin-left: 45%;
      width: 50%;
    }

    .btn3{
      width: 31.8%;
    }
  }


  @media (max-width:500px){

    #ru_eng{
      display: block;
      height: 50px;
      margin-left: 74%;
      margin-top: -50px;
      position: absolute;
    }
    
    .ENG{
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      margin: 0;
    }

    .card{
      width: 86%;
      margin-left: 7%;
    }

    .block1{
      margin-left: 5%;
      width: 55%;
    }

    .block2{
      margin-left: 40%;
      width: 55%;
    }

    .btn3{
      width: 31.7%;
      font-size: 16px;
    }

    .btn2{
      font-size: 16px;
    }

    .btn1{
      font-size: 16px;
    }

    .ur_adress{
      width: 50%;
      left: 7%;
      top: 30px;
      color: #ffffff;
      font: Inter;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 0px;
      position: absolute;
    }
    
    .email_adress{
      width: 30%;
      left: 65%;
      top: 30px;
      color: #ffffff;
      font: Inter;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 0px;
      position: absolute;
    }
  }


  @media (max-width:460px){

    .card{
      width: 94%;
      margin-left: 3%;
    }

    .btn3{
      width: 31.5%;
      font-size: 16px;
    }

    .btn1{
      font-size: 16px;
    }

    .btn2{
      font-size: 16px;
    }

    .content{
      width: 100%;
      height: 1000px;
      margin: 0;
      padding-top: 0px;
      box-sizing: border-box;
      display: block;
    }
  
  
  
  
    .burger1 {
      position: absolute;
      margin-top: -60px;
      margin-left: 82%;
    }
  
    #ru_eng{
      display: block;
      height: 50px;
      margin-left: 65%;
      margin-top: -50px;
      position: absolute;
    }
    
    .ENG{
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      margin: 0;
    }
  
  
  
    .menuItem1{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem2{
      width: 100%;
      margin-top: 20px;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem3{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem4{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
  
    }
  
    .menuItem5{
      margin-top: 20px;
      width: 100%;
      text-align: center;
      margin-left: 0;
      font: Inter;
      font-weight: 600;
      font-size: 22px;
      letter-spacing: 0px;
      display: inline-block;
      vertical-align: middle;
      color: black;
      word-wrap: break-word;
      text-align: center;
    }
  
  
    .menu_links{
      margin-left: 14%;
      width: 72%;
      flex-wrap: wrap;
      padding-top: 5px;
      height: 230px;
    }
  
  
    .showMenu {
      transform: translateY(0);
    }
    .tittle{
      width: 100%;
      height: 50px;
      background-color: rgb(38, 20, 94);
      margin-top: 75px;
      position: absolute;
    }
  
    .tittle1{
      margin-top: 5px;
      text-align: center;
      color: white;
      font: Inter;
      font-weight: 700;
      font-size: 35px;
      letter-spacing: 0px;
    }

    .ur_adress{
      width: 50%;
      left: 7%;
      top: 30px;
      color: #ffffff;
      font: Inter;
      font-weight: 600;
      font-size: 10px;
      letter-spacing: 0px;
      position: absolute;
    }
    
    .email_adress{
      width: 30%;
      left: 65%;
      top: 30px;
      color: #ffffff;
      font: Inter;
      font-weight: 600;
      font-size: 10px;
      letter-spacing: 0px;
      position: absolute;
    }
  }


  @media (max-width:400px){

    .card{
      width: 96%;
      margin-left: 2%;
    }

    .btn3{
      width: 31.3%;
      font-size: 15px;
    }

    .btn1{
      font-size: 15px;
    }

    .btn2{
      font-size: 15px;
    }

    #ru_eng{
      display: block;
      height: 50px;
      margin-left: 62%;
      margin-top: -50px;
      position: absolute;
    }
    
    .ENG{
      font: Inter;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0px;
      margin: 0;
    }

  }


  @media (max-width:370px){

    .btn3{
      width: 31%;
      font-size: 12px;
    }

    .btn1{
      font-size: 12px;
    }

    .btn2{
      font-size: 12px;
    }

  }